html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
}

header,
main,
footer
{
    text-align: center;
}

h1
{
    font: 70px Indie Flower, cursive;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 90%;
    transition: all 500ms ease;
}

article
{
    width: 20%;
}

.arrow,
.closing
{
    font: bold 80px Indie Flower, cursive;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    z-index: 5;
    transition: all 500ms ease;
}

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
    transition: all 500ms ease;
    opacity: 0;
    pointer-events: none;
}

.loading
{
    position: fixed;
    z-index: 4;
    width: 64px;
    margin: 0 auto;
    top: 47%;
    left: 47%;
    display: none;
}

.closing
{
    position:absolute;
    top:30px;
    right:40px;
    display: none;
    transform: rotate(45deg);
    color:#fff;
    z-index: 4;
}

footer
{
    font: 25px Indie Flower, cursive;
    bottom: 0;
}

footer a
{
    color: #000;
    text-decoration: none;
}
